<div class="loader" *ngIf="loader">
  <div class="spinner">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<div class="main-page" *ngIf="!loader">
  <div
    *ngIf="homeBackgroundImg"
    class="main-section"
    [ngStyle]="{
      'background-image': 'url(' + imgPath + homeBackgroundImg + ')'
    }"
  >
    <header class="active-header" [ngClass]="{ sticky: isSticky }">
      <div class="spacer">
        <nav class="flex justify-content-between">
          <div class="nav-left flex align-center">
            <div class="logo">
              <img src="../assets/logo.png" alt="logo" />
            </div>
            <!-- <div class="nav-links flex">
              <div>Home</div>
              <div>TV Shows</div>
              <div>Movies</div>
              <div>New & Popular</div>
              <div>My List</div>
              <div>Browse by Language</div>
            </div> -->
            <div class="nav-links flex">
              <div>Browse by Language</div>
            </div>
          </div>
          <div class="nav-right"></div>
        </nav>
      </div>
    </header>
    <div class="spacer title_wrapper">
      <h2>{{ this.homePageMovie?.title || this.homePageMovie?.name }}</h2>
      <p>
        {{ this.homePageMovie?.overview.slice(0, 200) + "..." }}
      </p>
      <div class="flex button_wrapper">
        <button class="buttons">Play</button>
        <button class="buttons">More Info</button>
      </div>
    </div>
  </div>

  <section>
    <div class="spacer">
      <app-slider
        [passData]="this.actionMovies"
        title="Super-Powered Sci-Fi, Fantasy & More"
      ></app-slider>
      <app-slider
        [passData]="this.comedyMovies"
        title="Comedy Movies"
      ></app-slider>
      <app-slider
        [passData]="this.documentryMovies"
        title="Comedy Movies"
      ></app-slider>
      <app-slider
        [passData]="this.horrorMovies"
        title="Horror Movies"
      ></app-slider>
      <app-slider
        [passData]="this.netflixOrigin"
        title="Horror Movies"
      ></app-slider>
      <app-slider
        [passData]="this.romanceMovies"
        title="Romance Movies"
      ></app-slider>
      <app-slider
        [passData]="this.topRated"
        title="Top Rated Movies"
      ></app-slider>
      <app-slider
        [passData]="this.trending"
        title="Trending Movies"
      ></app-slider>
    </div>
  </section>
</div>
